@import url("./dev-style.css");


/* responsive style  */

/* 1. 2524 screen size */
/* 1.3 blog */
/* 1.3.1 hero section search */
@media screen and (max-width: 2560px) {
    .blog-search-container {
        margin-left: 17%;
    }
    /* 1.6 tiles design  page */
      /* 1.6.1 types images */
    .img-box-450-last{
        display: none;
    }
        /* 1.6.2 smiilar   mockup */
    .about-ourmission-col-4-small{
        display: none;
    }
    .grid-wrap-tiles::before {
        top: 40%;
    }

    /* 1.7 mockup page  */
     /* 1.7.1 image gallery grid */
     .grid-gallery figure img{
       
     }

     /* 1.8 product detial page */
      /* 1.8.1 similar mockup */
      .tiles-design-image-container img{
        width: 400px;
      }
      .tiles-design-image-container .img-box{
        max-width: 400px;
      }
      .tiles-design-image-container{
        justify-content: left;
      }
}

@media screen and (max-width: 1540px) {
    .grid-wrap-tiles::before{
        top: 175%;
      }
      .model-preview-view-btn{
        right: 3%;
        bottom: 32%;
        border-radius: 22px;
        border: none;
        background-color: var(--white-color);
        color: var(--secondary-color);
        font-size: var(--normal-font-size);
        font-weight: var(--font-weight-dark);
      }
      /* 2.8 product detial page */
      /* 2.8.1 similar mockup */
      .tiles-design-image-container img{
        width: 100%;
      }
      .tiles-design-image-container .img-box{
        max-width: 400px;
      }
}
/* 2. 1440 screen size */
@media screen and (max-width: 1440px) {
    /* 2.3 blog */
    /* 2.3.1 hero section search */
    .blog-search-container {
        margin-left: 31%;
    }

     /* 2.6 tiles design  page */
      /* 2.6.1 types images */

      .grid-wrap-tiles::before{
        top: 66%;
      }

      /* 2.6 tiles design  page */
      /* 2.6.1 types images */
      .img-box-450-last{
        display: none;
    }

    /* 2.8 product detial page */
      /* 2.8.1 similar mockup */
      /* .tiles-design-image-container img{
        width: 200px;
      }
      .tiles-design-image-container .img-box{
        max-width: 200px;
      } */
}

/* 3. 1024 screen size */
@media (max-width: 1024px) {

    /* 3.1 about us page */
    /* 3.1.1 testimonial slider */
    .testimonials-section {
        margin: 30px;
        text-align: center;
    }

    .testimonials-section .testimonial-item {
        max-width: 80%;
        margin: auto;
    }

    /* 3.1.2 HOW TO CONNECT AS A PARTNER */
    .partners-section {
        margin: 30px;
    }

    .partner-cta {
        margin: 30px;
    }

    .partner-cta-heading {
        font-size: 34px;
        margin-bottom: 10px;
    }

    .partner-cta-description {
        margin-bottom: 15px;
    }

    /* 3.1.3 About TilesFinders */
    .blue-accent {
        bottom: -1px;
        left: -24px;
    }

    /* 3.2 contact page */
    /* 3.2.1 contact form */
    .contact-container {
        width: 992px;
    }

    /* 3.3 blog */
    /* 3.3.1 hero section search */
    .blog-search-container {
        margin-left: 22%;
        margin-top: 3%;
    }

    /* 3.5 blog details page */
    /* 3.5.1 blog detail col 3 */
    .Blog-Card-4{
        display: none;
    }
    .Blog-Card-5{
        display: none;
    }
    /* 3.5.2 blog detail img grid */
    .tiles-design-image-container .img-box{
        max-width: 100%;
    }
    .tiles-design-image-container{
        overflow: visible;
    }
    .tiles-design-image-container img{
        width: 160px;
    }
    /* 3.5.3 Recommended Designs */
    .image-container.tiles-design-image-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-top: 20px;
    }

    .img-box {
        width: 100%;
        margin-top: 0;
    }

    /* 3.6 tiles design  page */
      /* 3.6.1 Similar Mockups */
    .grid-wrap-tiles::before {
        top: 75%;
    }
     /* 3.6.2 typs */
    .tiles-design-image-container-first img{
        width: 149px;
    }
    .image-container.tiles-design-image-container-first{
        grid-template-columns: repeat(5, 1fr);
    }
    .img-box-450-last{
        display: none;
    }
    /* 3.6.3 model button preview */
    .img-overlay-360-preview img{
        width: 520px;
    }
    .model-preview-view-btn {
        right: 4%;
        bottom: 19%;
    }
    /* 1.8 product detial page */
      /* 1.8.1 similar mockup */
      .tiles-design-image-container img{
        width: 180px;
      }
      .tiles-design-image-container .img-box{
        max-width: 180px;
      }
}

/* 4. 768 screen size */
@media (max-width: 768px) {
    /* 4.1 about us page */
    /* 4.1.1  About TilesFinders */

    .about-section {
        padding: 2rem 0 0 0;
    }

    .team-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .team-image-container img {
        width: 60%;
    }

    .blue-accent {
        left: 15%;
    }

    /* 4.1.2 OUR MISSION */
    .mission-section {
        height: 750px;
        padding: 3rem 0 0 0;
    }

    .mission-badge {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .about-ourmission-col-4 {
        margin-left: 0;
    }

    .image-gallery {
        height: 80%;
    }

    /* 4.1.3 Solutions for Every Style & Need */
    .offers-section {
        padding: 1rem 0;
    }

    .about-section-heading {
        margin-bottom: 10px;
    }

    .section-heading {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .offer-card {
        padding: 1.5rem;
    }

    /* 4.1.4 Your Trusted Partner in Quality & Innovation */
    .why-choose-about-col-6 {
        text-align: center;
    }

    /* .feature-item{
        justify-content: center;
    } */
    .why-choose-blue-accent {
        width: 227px !important;
        left: 15%;
        top: 66%;
    }

    /* 4.1.5 What Our Happy Customers Say! */
    .testimonials-section {
        margin: 15px;
    }

    .testimonials-section {
        padding: 30px 20px 20px 20px;
    }

    .testimonials-small-header {
        margin-bottom: 10px;
    }

    .testimonial-heading {
        margin-bottom: 10px;
        font-size: 35px;
    }

    .testimonial-text {
        font-size: 20px;
    }

    .testimonial-card {
        padding: 20px;
    }
    .slider-container {
        height: auto;
    }

    /* 4.1.6 Strong Connections, Stronger Results */
    .partners-heading {
        font-size: 28px;
    }

    /* 4.1.7 Let's Build Success Together! */
    .partner-cta-connect-image img {
        width: 143%;
    }

    .partner-cta-connect-image::after {
        left: 93%;
    }

    /* 4.2 contact page */
    /* 4.2.1 contact form */
    .contact-page-section {
        height: auto;
    }

    .contact-container {
        width: 88%;
        margin-top: 17%;
    }

    .contact-container::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #ffffffdb, #ffffff00);
        opacity: 0.7;
        z-index: 2;
        top: 84%;
    }

    .pb-md-0 {
        padding-bottom: 0;
    }

    .mb-md-0 {
        margin-bottom: 0;
    }

    .pt-md-1 {
        padding-top: 1.5rem;
    }

    .p-md-3 {
        padding: 3rem !important;
    }
     /* 4.3 blog */
    /* 4.3.1 hero section search */
    .blog-search-container {
        margin-left: 23%;
        margin-top: 5%;
    }
    .blog-search-container{
        max-width: 420px;
    }

    /* 4.5 blog details page */
    /* 4.5.1 Recommended Designs */
    .image-container.tiles-design-image-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* 4.6 tiles design  page */
      /* 4.6.1 Similar Mockups */
      .grid-wrap-tiles::before {
        top: 178%;
    }
    /* 4.6.2 model button preview */
    .model-preview-view-btn {
        right: 4%;
        bottom: 1%;
    }
    /* 4.6.3 image typs  */
    .image-container.tiles-design-image-container {
        grid-template-columns: repeat(5, 1fr);
    }
    .tiles-design-image-container-first img {
        width: 130px;
    }
    .tiles-design-overlay-text{
        font-size: 12px;
    }
    .img-box-450-last{
        display: none;
    }
     /* 4.6.4  Similar Mockups*/
     .grid li {
        width: 24.3%;
    }
    .grid-wrap-tiles::before {
        top: 131%;
        right: 8%;
        width: 86%;
    }
    /* 4.8 product detial page */
      /* 4.8.1 similar mockup */
      .p-md-1{
        padding: 1rem 1rem 4rem 1rem !important;
      }
}

/* 5. 425 screen size */
@media (max-width: 428px) {

    /* 5.1 about us page */
    /* 5.1.2 About TilesFinders */
    .team-image-container img {
        width: 85%;
    }

    .about-text {
        margin-bottom: 10px;
    }

    .blue-accent {
        left: 1%;
        top: 48%;
    }

    /* 5.1.3 Excellence in Every Detail */
    .image-gallery {
        height: 97%;
    }

    .image-gallery::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #0F1833, #0F183300);
        opacity: 0.7;
        /* Adjust transparency */
        z-index: 2;
    }

    .gallery-image {
        position: relative;
        z-index: 1;
        /* Ensures images appear above the gradient */
        border-radius: 12px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }


    .gallery-image:hover {
        transform: scale(1.05);
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.6);
    }

    .about-ourmission-col-7 {
        padding-left: 1rem;
    }

    .mission-heading {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .mission-text {
        font-size: 16px;
    }

    .mission-section {
        height: 630px;
    }

    /* 5.1.4 Solutions for Every Style & Need */
    .about-section-heading {
        font-size: 37px;
        margin-bottom: 0;
    }

    .offer-title {
        font-size: 22px;
    }

    .offer-description {
        font-size: 16px;
    }

    /* 5.1.5 Your Trusted Partner in Quality & Innovation*/
    .why-choose-section {
        padding: 2rem 0;
    }

    .section-heading {
        font-size: 30px;
    }

    .section-heading {
        margin-bottom: 1.5rem;
    }

    /* 5.1.6 What Our Happy Customers Say! */
    .testimonial-heading {
        font-size: 30px;
        line-height: 44px;
    }

    .slider-container {
        height: 100%;
    }

    .testimonials-section {
        height: 650px;
    }

    .partners-section {
        padding: 5px;
        margin: 1px;
    }

    .partners-heading {
        line-height: 43px;
    }

    /* 5.1.7 Let's Build Success Together! */
    .partner-cta-connect-image img {
        width: 103%;
    }

    .partner-cta-connect-image::before {
        left: -12px;
    }

    .partner-cta-connect-image::after {
        left: 55%;
    }

    .partner-cta {
        margin: 15px;
    }

    /* 5.2 contact us page */
    /* 5.2.1 contact box befor shadow */
    .contact-container::before {
        top: 87%;
    }

    .contact-container {
        width: 100%;
        border-radius: 0;
    }

    .contact-container::before {
        height: 50%;
    }

    .p-md-3 {
        padding: 0 1rem 1rem 1rem !important;
    }

    .pb-md-0 {
        padding: 2rem 1rem 0 1rem !important;
    }
     /* 5.3 blog */
    /* 5.3.1 hero section search */
    .blog-search-container {
        margin-left: 9%;
        margin-top: 8%;
    }
    .blog-search-container{
        max-width: 300px;
    }
    .ps-0{
        padding: 0 12px !important;
    }

    /* 5.4 footer */
    /* 5.4.1 second footer  */
    .second-footer p{
        font-size: 8px;
    }

    /* 5.5 blog details page */
     /* 5.5.1 Recommended Designs */
     .image-container.tiles-design-image-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-box img {
        width: 150px;
        height: auto;
    }
    .ps-sm-1{
        padding-left: 5px !important;
    }
    .img-box-last{
        display: none;
    }
    .mt-sm-1{
        margin-top: 10px !important;
    }
    .Blog-Card-4{
        display: block;
    }
    .Blog-Card-5{
        display: block;
    }
    /* 5.5.2 More Blogs */
    .blogdetails-col-4-blog-content{
        padding: 22px 12px 20px 51px;
    }
    .blogdetails-col-4-read-more{
        width: 65%;
    }
    .blogdetails-col-4-section{
        margin-top: 10px;
    }
    .p-sm-0{
        padding: 0;
    }
    /* 5.6 tiles design  page */
      /* 5.6.1 Similar Mockups */
      .model-preview-view-btn {
        right: 4%;
        bottom: -3%;
    }
    .about-ourmission-col-4-small{
        display: block;
    }
     /* 5.6.2 images typ */
    .img-box-450-last{
        display: block;
    }
    .grid-gallery-second{
        display: none;
    }
    .tiles-design-image-container-first img{
        width: 189px;
    }
     /* 5.6.3 Similar Mockups */
    .image-gallery-first::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(to bottom, #FFFFFF00, #FFFFFF);
        opacity: 0.7;
        z-index: 2;
        top: 322%;
    }
     .blog-card{
        margin-top: 10px;
    }
     /* 5.8 product detial page */
      /* 5.8.1 OHG Kitchen Niche Fruit Walnut HL */
      .btn-inquiry{
        width: 60%;
      }
      .d-md-none{
        display: none;
      }
      .main-image{
        margin: 0;
        height: 310px;
        width: 100%;
      }
       /* 5.8.2 Similar Mockups */
      .tiles-design-image-container .img-box{
        width: 170px;
      }
      .tiles-design-image-container-first img{
        width: 170px;
      }
       /* 5.6.3 model popup */
    .modal-content{
        width: 300px;
    }
    .grid figure{
        padding: 5px !important;
    }
}

/* 6. 375 screen size */
@media (max-width: 380px) {

    /* 6.1 about us page */
    /* 6.1.1 About TilesFinders */
    .about-heading {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .team-image-container img {
        margin-top: 5px;
    }

    /* 6.1.2 Excellence in Every Detail */
    .mission-heading {
        line-height: 42px;
    }

    /* 6.1.3 Solutions for Every Style & Need */
    .about-section-heading {
        font-size: 32px;
        line-height: 42px;
    }

    .feature-item {
        margin-bottom: 10px;
    }

    /* 6.1.4 TestimonialsS */
    .testimonial-text {
        font-size: 16px;
    }

    .stars {
        margin-bottom: 10px;
    }

    .testimonials-section {
        height: 661px;
    }

    /* 6.1.5 Strong Connections, Stronger Results */
    .logo-item {
        padding: 10px;
    }

    /* 6.1.6 HOW TO CONNECT AS A PARTNER */
    .choose-badge {
        font-size: 12px;
        margin-top: 40px;
    }

    .partner-cta-heading {
        font-size: 30px;
        line-height: 40px;
    }
      /* 6.3 blog */
    /* 6.3.1 hero section search */
    .blog-search-container {
        margin-left: 5%;
        margin-top: 8%;
    }
    .py-sm-1{
        padding-top: 2rem !important;
    }

    /* 6.5 blog details page */
    /* 6.5.1 More Blogs */
    .blogdetails-col-4-blog-content{
        padding: 19px 4px 11px 67px;
    }
    .blogdetails-col-4-read-more{
        width: 79%;
    }

    /* 6.6 tiles design  page */
      /* 6.6.1 types images */
      .img-box-450-last{
        display: block;
    }

    .about-ourmission-col-4-small{
        display: block;
    }
    .grid-gallery-second{
        display: none;
    }
     /* 6.6.2 Similar Mockups */
     .py-sm-1{
        padding: 0 1px;
     }
     .ps-0{
        padding: 0 5px !important;
     }
      /* 5.8 product detial page */
      /* 5.8.1 OHG Kitchen Niche Fruit Walnut HL */
      .thumbnail{
        width: 40px;
    height: 40px;
      }
     
}

/* 7. 320 screen size */
@media (max-width: 320px) {

    /* 7.1 about us page */
    /* 7.1.1 About TilesFinders */
    .who-we-are-about-section-row {
        flex-direction: column-reverse;
    }

    .who-we-are-badge {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .about-heading {
        font-size: 32px;
    }

    .about-heading {
        margin-bottom: 10px;
    }

    .team-image-container img {
        width: 96%;
    }

    /* 7.1.2 Excellence in Every Detail */
    .mission-heading {
        font-size: 28px;
        line-height: 38px;
    }

    /* 7.1.3 Testimonials */
    .testimonial-slide {
        width: 100%;
    }

    .testimonial-card {
        padding: 15px;
    }

    .testimonial-slide {
        padding: 20px;
    }

    .testimonials-section {
        margin: 0;
        border-radius: 0;
    }

    /* 7.1.4 Solutions for Every Style & Need */
    .offer-title {
        font-size: 20px;
    }

    .blue-accent {
        left: -3%;
        top: 43%;
    }

    .why-choose-blue-accent {
        width: 150px !important;
        left: -11%;
        top: 51%;
    }

    /* 7.1.5 Your Trusted Partner in Quality & Innovation */
    .section-heading {
        font-size: 26px;
    }

    /* 7.1.6 Strong Connections, Stronger Results  */
    .logo-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo-grid {
        background-color: transparent;
    }

    .logo-grid .two {
        border-right: 1px;
    }

    .logo-grid .three {
        border-right: 1px solid #DFDFE8;
    }

    .logo-grid .four {
        border-right: 0px;
    }

    .logo-grid .eight {
        border-right: 1px;
        border-bottom: 1px solid #DFDFE8;
    }

    .logo-grid .nine {
        border-top: 1px solid #DFDFE8;
        border-right: 1px solid #DFDFE8;
    }

    /* 7.1.7 Let's Build Success Together! */
    .partner-cta-content-wrapper {
        padding: 0;
        margin-bottom: 10px;
    }

    .partner-cta-connect-image::after {
        left: 71%;
    }

    .partner-cta-connect-image::before {
        left: -19%;
    }

    .choose-badge {
        margin-top: 25px;
        font-size: 10px;
    }

      /* 7.3 blog */
    /* 7.3.1 hero section search */
    .blog-search-container {
        margin-left: 5%;
        margin-top: 10%;
    }
    .blog-search-container{
        max-width: 242px;
    }

    /* 7.5 blog details page */
    /* 7.5.1 More Blogs */
    .blogdetails-col-4-blog-content{
        padding: 19px 4px 11px 67px;
    }
    .blogdetails-col-4-read-more{
        width: 100%;
    }
    .blogdetails-col-4-blog-card img{
        width: 112px;
    }
    .blogdetails-col-4-blog-content{
        padding: 11px 4px 1px 38px;
    }
    .img-box img {
        width: 126px;
        height: auto;
    }

    /* 7.6 tiles design  page */
      /* 7.6.1 types images */
      .img-box-450-last{
        display: block;
    }
    .about-ourmission-col-4-small{
        display: block;
    }
    .grid-gallery-second{
        display: none;
    }
     /* 7.6.2 Similar Mockups */
     .image-gallery-first::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(to bottom, #FFFFFF00, #FFFFFF);
        opacity: 0.7;
        z-index: 2;
        top: 287%;
    }

   
     /* 5.8 product detial page */
      /* 5.8.1 OHG Kitchen Niche Fruit Walnut HL */
      .btn-inquiry{
        width: 60%;
      }
      .d-md-none{
        display: none;
      }
      .main-image{
        margin: 0;
        height: 310px;
        width: 100%;
      }
       /* 5.8.2 Similar Mockups */
       .tiles-design-image-container .img-box{
        width: 126px;
      }
      .tiles-design-overlay-text{
        font-size: 10px;
      }
      .text-sm-start {
        text-align: start;
      }
      .mt-sm-0 {
        margin-top: 0;
      }
}



